In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bonthe,7.5264,-12.5050,81.73,79,22,9.82,SL,2021-04-08 18:56
1,1,Sangar,63.9242,127.4739,16.59,91,100,20.54,RU,2021-04-08 18:56
2,2,Comodoro Rivadavia,-45.8667,-67.5000,64.40,48,0,3.44,AR,2021-04-08 18:56
3,3,Coromandel,-18.4733,-47.2003,74.28,57,94,10.33,BR,2021-04-08 18:56
4,4,Mukhen,48.1000,136.1000,29.39,78,100,8.50,RU,2021-04-08 18:56

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
wind = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bonthe,7.5264,-12.5050,81.73,79,22,9.82,SL,2021-04-08 18:56
7,7,Rikitea,-23.1203,-134.9692,76.19,65,27,2.35,PF,2021-04-08 18:56
9,9,Saint-Philippe,-21.3585,55.7679,80.60,74,40,3.44,RE,2021-04-08 18:56
11,11,Dondo,-19.6094,34.7431,78.80,73,20,3.33,MZ,2021-04-08 18:56
29,29,Nuevitas,21.5453,-77.2644,82.40,54,75,10.36,CU,2021-04-08 18:56
32,32,Arraial Do Cabo,-22.9661,-42.0278,78.80,78,40,11.50,BR,2021-04-08 18:56
35,35,Georgetown,5.4112,100.3354,82.40,88,20,3.44,MY,2021-04-08 18:56
37,37,Salalah,17.0151,54.0924,82.40,65,0,3.44,OM,2021-04-08 18:56
41,41,Avarua,-21.2078,-159.7750,78.80,89,90,6.91,CK,2021-04-08 18:56
43,43,Itarema,-2.9248,-39.9167,83.28,74,91,17.02,BR,2021-04-08 18:56

In [11]:
preferred_cities_df.count()

City_ID       176
City          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
Country       175
Date          176
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Bonthe      SL     81.73   7.5264  -12.5050
7           Rikitea      PF     76.19 -23.1203 -134.9692
9    Saint-Philippe      RE     80.60 -21.3585   55.7679
11            Dondo      MZ     78.80 -19.6094   34.7431
29         Nuevitas      CU     82.40  21.5453  -77.2644
32  Arraial Do Cabo      BR     78.80 -22.9661  -42.0278
35       Georgetown      MY     82.40   5.4112  100.3354
37          Salalah      OM     82.40  17.0151   54.0924
41           Avarua      CK     78.80 -21.2078 -159.7750
43          Itarema      BR     83.28  -2.9248  -39.9167

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bonthe,SL,81.73,7.5264,-12.5050,Bonthe Holiday Village
7,Rikitea,PF,76.19,-23.1203,-134.9692,Pension Maro'i
9,Saint-Philippe,RE,80.60,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
11,Dondo,MZ,78.80,-19.6094,34.7431,Arco Iris
29,Nuevitas,CU,82.40,21.5453,-77.2644,Hotel Caonaba
...,...,...,...,...,...,...
565,Wahiawa,US,75.00,21.5028,-158.0236,Aloha Wahiawa
569,Bartica,GY,84.20,6.4000,-58.6167,Relax Inn Hotel
570,La Cruz,MX,82.00,23.9167,-106.9000,LIBERADOR DE CELULAS MADRE ADULTAS
572,Bayonet Point,US,80.01,28.3267,-82.6834,Homewood Suites by Hilton Tampa-Port Richey
573,Majene,ID,77.95,-3.5403,118.9707,Kost Putri RABBANI

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))