## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current,Lat,Lng,Hotel Name
0,9,Columbus,US,78.01,overcast clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...
1,16,Maxixe,MZ,77.00,few clouds,-23.8597,35.3472,Oceano
2,17,Mount Isa,AU,77.00,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
3,19,Vung Tau,VN,81.14,broken clouds,10.3460,107.0843,Green hotel
4,20,Sao Filipe,CV,77.00,clear sky,14.8961,-24.4956,Tortuga B&B

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'San Antero'] 
vacation_end = vacation_df.loc[vacation_df['City'] == 'San Antero']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Taraza']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Miranda']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'San Cristobal']
vacation_stop3

,City_ID,City,Country,Max Temp,Current,Lat,Lng,Hotel Name
103,346,San Cristobal,VE,84.2,broken clouds,7.7669,-72.225,Posada Villaven C.A.

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy() 
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(35, -115), zoom_level = 6)
san_antero = start
taraza = stop1
miranda = stop2
san_cristobal = stop3
road_trip = gmaps.directions_layer(san_antero, san_antero, 
                                  waypoints=[taraza, miranda, san_cristobal], 
                                  travel_mode="DRIVING")

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current,Lat,Lng,Hotel Name
0,541,San Antero,CO,83.73,overcast clouds,9.3741,-75.7589,Villamarina Inn chale
1,603,Taraza,CO,89.87,overcast clouds,7.5836,-75.4007,Hotel Monteverde
2,382,Miranda,CO,84.20,broken clouds,3.2499,-76.2281,unidiversidad organica la utopia
3,346,San Cristobal,VE,84.20,broken clouds,7.7669,-72.2250,Posada Villaven C.A.

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
fig.add_layer(road_trip)
fig

Figure(layout=FigureLayout(height='420px'))